@import "./common/var.scss";
@import "./common/normalize.scss";
@import "./common/hairline.scss";
@import "./common/animation.scss";

.demo-container {
  padding: 0 15px;
  background-color: #f8f8f8;
  margin-top: 15px;
  height: 420px;
}
.demo-title {
  background-color: #ffffff;
  text-align: center;
  height: 46px;
  line-height: 46px;
  font-size: 25px;
}

.demo-subtitle {
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  text-align: left;
}
